.card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    
    overflow: hidden;
}

/* Estilos del contenido */
.card-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.card-content p {
    margin: 0;
    color: #666;
}

/* Estilos de los botones */
.card-buttons {
    display: flex;
    flex-direction: row;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    flex: 1;
}

.btn-info {
    background-color: transparent;
    color: #262626;
    
}

.btn-info:hover {
    background-color: rgba(101, 103, 104, 0.1);
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}